* {
	box-sizing: border-box;
}

ul {
	margin: 0;
    padding: 0;
    display: block;
}

li {
    display: block;
}

.hidden {
	display: none;
}

.button {
	display: inline-block;
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 0.2em;
}

.button.bOK {
	background: #7c6344; /* Old browsers */
	background: -moz-linear-gradient(top,  #7c6344 0%, #847560 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c6344), color-stop(100%,#847560)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7c6344 0%,#847560 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7c6344 0%,#847560 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7c6344 0%,#847560 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7c6344 0%,#847560 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c6344', endColorstr='#847560',GradientType=0 ); /* IE6-9 */
}

.button.bKO {
	background: #3A3329; /* Old browsers */
}


#mainWindows {
	display: table;
	table-layout: fixed;
	min-width: 700px;
	width: 700px;
	background-color: #1E1E1E;
	color: white;
}

#mainWindows > aside {
	display: table-cell;
	min-width: 200px;
	width: 33.3333333%;
	padding: 1em;
	height: 400px;
}

#mainWindows > aside ul#languages {
	display: block;
	background-color: #3A3329;
	border-radius: 0.2em;
	cursor: pointer;
}

#mainWindows > aside ul#languages > li {
	/*margin-bottom: 0.2em;*/
	padding: 0.5em;
}

#mainWindows > aside ul#languages > li.active:first-child {
	padding-top: 0.2em;
}


#mainWindows > aside ul#languages > li:hover {
	border-radius: 0.2em;
	background-color: #847560;
}

/*#mainWindows > aside ul#languages > li:last-child {
	margin-bottom: 0;
}*/

#mainWindows > aside ul#languages > li.active {
	padding-top: 0.2em;
	background-color: #4C3B24;
	border-radius: 0.2em;
}

#mainWindows > aside ul#languages ul#menu {
	margin-left: 0.5em;
}

#mainWindows > aside ul#languages ul#menu li.active {
	color: #B25F20;
}

#mainWindows > aside ul#menu li:hover {
	color: #FFAE3D;
}



#mainWindows > aside #addNewLanguageBtn {
    background-color: #4C3B24;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

#mainWindows > aside #addNewLanguageBtn #newLanguageMenu {
	margin-top: 0.3em;
}

#mainWindows > aside #addNewLanguageBtn #newLanguageMenu select {
	display: block;
	width: 100%;
}

#mainWindows > aside #addNewLanguageBtn #newLanguageMenu #newLanguageDone {
	margin-top: 0.5em;
	float: right;
}

#mainWindows > aside #addNewLanguageBtn #newLanguageMenu #newLanguageCancel {
	margin-top: 0.5em;
}




#mainWindows > aside #addNewLanguageBtn:hover {
	background-color: #847560;
}


#mainWindows > section {
	display: table-cell;
	background-color: #3A3329;
	width: 66.666666%;
}